<h1 class="mb-8">Editing Post</h1>

<%= render 'form', post: @post %>

<ul class="list-reset flex mt-6 justify-center">
  <li class="mr-6">
    <%= link_to 'Show', @post, class: 'text-blue hover:text-blue-darker' %>
  </li>
  <li class="mr-6">
    <%= link_to 'Back', posts_path, class: 'text-blue hover:text-blue-darker' %>
  </li>
</ul>